body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

::-webkit-scrollbar{ width: 0px; }

.line {
    stroke: #000;
    stroke-width: 2px;
    opacity: 0.2;
}

.button{
    top:15px;
    left:15px;
    position: absolute;
}

.lineStaticAttack {
    fill: none;
    stroke: #ff6600;
}

.lineInstantiateAttack {
    fill: none;
    stroke: #BF0000;
}

.lineInstantiateOnGoingAttack {
    fill: none;
    opacity: 0.4;
    stroke: #f00;
}

.perimeterArc{
    fill: none;
    stroke: #CC7A29;

}


.linePreviewAttack {
    fill: none;
    stroke: #ff6600;
    stroke-width: 3px;
}

#preview{
    fill:#ff6600;
}

#lineStaticAttackMarker{
    fill:#ff6600;
    strokeWidth: 3px;
}

#lineInstantiateOnGoingAttackMarker{
    fill:#f00;
}

#lineInstantiateAttackMarker{
    fill:#BF0000;
}

#perimeterArcMarker{
    fill: #CC7A29;
}

.overlayedSVG{
    position: absolute;
}

.graph{
    margin: 50px auto 0 auto;
    border: 2px solid blue;
}

.node text {
    pointer-events: none;
    font: 10px sans-serif;
    color: #000;
}

.textPreview{
    cursor: default;
    font: 12px sans-serif;
    fill: #fff;
}

html, #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.arc path {
    stroke: #fff;
}

.arc text {
    fill: #fff;
    font: 13px sans-serif;
}

.textAttackID {
    color: #fff;
}

.sideMenu {
    z-index: 3;
    cursor: default;
}

.bottomMenuContainer {
    z-index: 2;
}
.bottomMenu{
    white-space:nowrap;
    overflow-x: visible;
    overflow-y: hidden !important;
}

.attackPreview {
    z-index: 1;
    display: inline-block;
    border: 2px solid white;
    background-color: #3d3d3d;
    border-radius: 8px;
}

.sideMenuLabel {
    margin: 1px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:#E6E6E6;
    background-image:url(img/button_menu.png)
}

.bottomMenuLabel {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:#E6E6E6;
    background-image:url(img/button_menu.png);


}

.tableAttack {
    overflow-x: hidden !important;
    position: absolute;
    font: 13px sans-serif;
    cursor: pointer;
}

#responsePlanDiv, #buttonsDiv, #donutChartDiv{
    margin: 1px;
    padding:5px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color:#E6E6E6;
}

#responsePlanHeader{
    font: 17px sans-serif;
    color:white;
    text-align: center;
    font-weight: bold;
}
#responsePlanHeader p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#barrierDetailsBody{
    overflow-x: hidden !important;
    overflow-y: auto;
}

.barrierDetailsHeaderBarrierSummaryValue {
    font: 20px sans-serif;
    color: white;
}

.barrierDetailsHeaderBarrierSummaryTitle {
    font: 13px sans-serif;
    color: white;
    font-weight: bold;
}

.detailsItemDiv{
    height: 20px;
    width: 100%;
    border-bottom: 1px solid rgb(104, 104, 104);
    border-top: 1px solid rgb(104, 104, 104);
}

.detailsItemHeader{
    height: 20px;
    width: 100%;
    margin-left: 10px;
    cursor: pointer;
    font: 14px sans-serif;
    fill:white;
}

.detailsItemBody {
    height: 100px;
    width: 100%;
    display: none;
}

.detailsItemBodySummary{
    width: 45%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font: 12px sans-serif;
    color: white;
    fill:white;
}

.detailsItemBodySummary text:nth-of-type(2), text:nth-of-type(3){
    font: 11px sans-serif;
    color: white;
}
.detailsItemBodySummary text:nth-of-type(2){
    margin-top: 5px;
}

.detailsItemBodyMitigationData{
    height: 100%;
    width: 55%;
    display: table-cell;
    position: relative;
}

.detailsItemBodyMitigationData text{
    display: block;
    font: 11px sans-serif;
    color: white;
    margin-top: 3px;
    white-space: nowrap
}

.detailsItemBodyMitigationData div{
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 25px;
    width: 130px;
}

.detailsItemBodyMitigationData button, 
.attackPreview button, 
#buttonsDiv button{
    height: 25px;
    width: 50px;
    margin-right: 10px;
    background-color: #606060;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #FFF;
}
